$primaryYellow: #f7d135;
$primaryBlue: #007dad;
$primaryDarkBlue: #032749;
$primaryLightBlue: #56a7c8;
$primaryGreen: #5ab9b5;
$white: #ffffff;
$black: #000000;
$dark: #111111;
$darkgrey: #505768;
$grey: #5c5c5c;
$textDark: #0d131c;
$paraText: #333333;
$EDEDED: #ededed;
$BFBFBF: #bfbfbf;
$f7f7f7: #f7f7f7;
$F6F6F6: #f6f6f6;
$yellow: #fcc60e;
$font_gotham: "Gotham";
$border-color: #f6f6f6;

$black_2: #0d131c;
$text-color: #333333;

$lt_green: #80bdd6;
$litegray: #f2f2f2;
