%fs_16 {
    font-size: 16px;

    @media(max-width: 767.98px) {
        font-size: 14px;
    }
}

%fs_18 {
    font-size: 18px;

    @media(max-width: 991.98px) {
        font-size: 16px;
    }

    @media(max-width: 767.98px) {
        font-size: 14px;
    }
}

%fs_20 {
    font-size: 20px;

    @media(max-width: 991.98px) {
        font-size: 18px;
    }

    @media(max-width: 767.98px) {
        font-size: 16px;
    }
}

%fs_22 {
    font-size: 22px;

    @media(max-width: 991.98px) {
        font-size: 20px;
    }

    @media(max-width: 767.98px) {
        font-size: 18px;
    }
}

%fs_24 {
    font-size: 24px;

    @media(max-width: 991.98px) {
        font-size: 20px;
    }

    @media(max-width: 767.98px) {
        font-size: 16px;
    }
}

%fs_28 {
    font-size: 28px;

    @media(max-width: 1199.98px) {
        font-size: 24px;
    }

    @media(max-width: 991.98px) {
        font-size: 20px;
    }

    @media(max-width: 767.98px) {
        font-size: 18px;
    }
}

%fs_36 {
    font-size: 36px;

    @media(max-width: 1199.98px) {
        font-size: 32px;
    }

    @media(max-width: 991.98px) {
        font-size: 26px;
    }

    @media(max-width: 767.98px) {
        font-size: 18px;
    }
}

%fs_40 {
    font-size: 40px;

    @media(max-width: 1199.98px) {
        font-size: 30px;
    }

    @media(max-width: 991.98px) {
        font-size: 26px;
    }

    @media(max-width: 767.98px) {
        font-size: 22px;
    }
}

%fs_50 {
    font-size: 50px;

    @media(max-width: 1399.98px) {
        font-size: 40px;
    }

    @media(max-width: 1199.98px) {
        font-size: 30px;
    }

    @media(max-width: 991.98px) {
        font-size: 24px;
    }

    @media(max-width: 767.98px) {
        font-size: 20px;
    }
}

%fs_54 {
    font-size: 54px;

    @media(max-width: 1399.98px) {
        font-size: 44px;
    }

    @media(max-width: 1199.98px) {
        font-size: 34px;
    }

    @media(max-width: 991.98px) {
        font-size: 28px;
    }

    @media(max-width: 767.98px) {
        font-size: 22px;
    }
}

%fs_64 {
    font-size: 64px;

    @media(max-width: 1399.98px) {
        font-size: 54px;
    }

    @media(max-width: 1199.98px) {
        font-size: 44px;
    }

    @media(max-width: 991.98px) {
        font-size: 34px;
    }

    @media(max-width: 767.98px) {
        font-size: 24px;
    }
}

%fs_110 {
    font-size: 110px;

    @media(max-width: 1399.98px) {
        font-size: 80px;
    }

    @media(max-width: 1199.98px) {
        font-size: 60px;
    }

    @media(max-width: 991.98px) {
        font-size: 40px;
    }

    @media(max-width: 767.98px) {
        font-size: 32px;
    }
}

%fs_140 {
    font-size: 140px;

    @media(max-width: 1399.98px) {
        font-size: 120px;
    }

    @media(max-width: 1199.98px) {
        font-size: 100px;
    }

    @media(max-width: 991.98px) {
        font-size: 80px;
    }

    @media(max-width: 767.98px) {
        font-size: 60px;
    }

    @media(max-width: 767.98px) {
        font-size: 40px;
    }
}

%transition_05 {
    transition: 0.5s;
}

%pt_100 {
    padding-top: 100px;

    @media(max-width: 1199.98px) {
        padding-top: 80px;
    }

    @media(max-width: 991.98px) {
        padding-top: 60px;
    }

    @media(max-width: 767.98px) {
        padding-top: 40px;
    }
}

%pb_100 {
    padding-bottom: 100px;

    @media(max-width: 1199.98px) {
        padding-bottom: 80px;
    }

    @media(max-width: 991.98px) {
        padding-bottom: 60px;
    }

    @media(max-width: 767.98px) {
        padding-bottom: 40px;
    }
}

%pt_80 {
    padding-top: 80px;

    @media(max-width: 1199.98px) {
        padding-top: 60px;
    }

    @media(max-width: 991.98px) {
        padding-top: 50px;
    }

    @media(max-width: 767.98px) {
        padding-top: 30px;
    }
}

%pb_80 {
    padding-bottom: 80px;

    @media(max-width: 1199.98px) {
        padding-bottom: 60px;
    }

    @media(max-width: 991.98px) {
        padding-bottom: 50px;
    }

    @media(max-width: 767.98px) {
        padding-bottom: 30px;
    }
}

%pt_60 {
    padding-top: 60px;

    @media(max-width: 991.98px) {
        padding-top: 40px;
    }

    @media(max-width: 767.98px) {
        padding-top: 20px;
    }
}

%pb_60 {
    padding-bottom: 60px;

    @media(max-width: 991.98px) {
        padding-bottom: 40px;
    }

    @media(max-width: 767.98px) {
        padding-bottom: 20px;
    }
}

%p_100 {
    padding: 100px;

    @media(max-width: 1399.98px) {
        padding: 80px;
    }

    @media(max-width: 1199.98px) {
        padding: 60px;
    }

    @media(max-width: 991.98px) {
        padding: 40px;
    }

    @media(max-width: 767.98px) {
        padding: 20px;
    }
}

%pr_50 {
    padding-right: 50px;

    @media(max-width:1199.98px) {
        padding-right: 30px;
    }

    @media(max-width: 767.98px) {
        padding-right: 0;
    }
}

%pl_50 {
    padding-left: 50px;

    @media(max-width:1199.98px) {
        padding-left: 30px;
    }

    @media(max-width: 767.98px) {
        padding-left: 0;
    }
}

%tarzana_narrow_font {
    font-family: $font_tarzana_narrow;
}

%nelipotvp1_font {
    font-family: $font_nelipotvp1;
}

%nelipotvp2_font {
    font-family: $font_nelipotvp2;
}

%kepler_std_font {
    font-family: $font_kepler_std;
}