$forestGreen: #2F4220;
$LightResedaGreen: #707F5A;
$OliveGreen: #97A43B;
$offGreen: #D9D4C2;
$offGreen2: #C9D66E;
$FloralGreen: #FFF8EF;
$nightBlack: #111111;
$paraText: #535353;

$D7C37B: #D7C37B;
$FFF8EF: #FFF8EF;
$FAEFDA: #FAEFDA;
$EEBE8D: #EEBE8D;
$E6E6E6: #E6E6E6;
$FEFCF8: #FEFCF8;
$gradient_c1: #FFFCE1;
$gradient_c2: #FFF6D8;

$white: #ffffff;
$black: #000000;


$font_tarzana_narrow: 'TarzanaNarrow';
$font_nelipotvp1:  'NelipotVP Style 1';
$font_nelipotvp2:  'NelipotVP Style 2';
$font_kepler_std: 'Kepler Std';